include includes/base

+base("Home")
    h1 Welcome to Seedhelper!
    p Start by #[a(href='/register') registering] or #[a(href='/login') logging in].
    h2 What is Seedhelper?
    p Seedhelper is a website designed to help people with GPUs and hacked 3DS devices to assist users in finding their movable.sed to use the seedplanter program and obtain CFW. #[a(href='/help') Learn more.]
