include includes/base

+base("Movable Work")
    h1 Movable Work
    p #[a(href="/work" target="_blank") Open the instructions in a new tab]
    p #[a(href=`/static/ugc/part1/${device.id}_part1.sed`) Download part1]

    form.pure-form.pure-form-aligned(method="post" enctype="multipart/form-data")
        fieldset
            .pure-control-group
                label(for="movable") Movable.sed
                input#name(type="file" required name="movable")
            .pure-control-group
                label(for="msed") Msed_data
                input#name(type="file" name="msed")
                span.pure-form-message-inline Optional but highly recommended. Will automatically be added to the automatic msed database.
            .pure-controls
                button.pure-button.pure-button-primary(type="submit") Submit
                a.pure-button(href=`${device.id}/cancel`) Cancel
